body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

#my-navigation {
    width: 100%;
    height: 100vh;
    background-image: url(../img/gym/the-darkness-3183028_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    border: none;
    padding-top: 2%;
}

#my-navigation a {
    color: white;
}

#my-navigation .zacson {
    font-size: 1.6rem;
}

#my-navigation ul li {
    position: relative;
    left: 20rem;
}

#my-navigation ul li a:hover {
    background-color: tomato;
}

#my-navigation .btn {
    width: 140px;
    height: 30px;
    border: none;
    background-color: blue;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 0.5rem;
}


/*banner*/

.banner {
    color: white;
    margin-top: 8rem;
    margin-left: 10rem;
}

.banner h2 {
    font-size: 2.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: transparent;
}

.banner h1 {
    font-size: 6rem;
    margin-top: 2rem;
}

.banner .b_btn {
    width: 130px;
    height: 35px;
    border: 2px solid gray;
    background: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 1.5rem;
}


/*training part*/

.training .personal {
    background-image: url(../img/gym/barbell-1839086_1920.jpg);
    background-size: cover;
    background-position: center center;
}

.training .group {
    background-image: url(../img/gym/dark-1839088_1920.jpg);
    background-size: cover;
    background-position: center center;
}

.training h1 {
    font-size: 2rem;
    color: white;
    position: relative;
    top: 5rem;
    font-weight: bold;
}

.training p {
    position: relative;
    top: 5rem;
    font-size: 1rem;
    color: gray;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.training .view_btn {
    position: relative;
    top: 5rem;
    width: 135px;
    height: 35px;
    border: 2px solid gray;
    background: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 8rem;
}


/*offer*/

.offer {
    padding-top: 4%;
}

.offer .h1 {
    font-size: 4.5rem;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 3rem;
}

.body-build h1 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 2.5rem 0;
}

.body-build p {
    font-size: 1rem;
    color: gray;
}


/*muscle-gain*/

.muscle-gain {
    padding: 7% 0;
}

.muscle-gain h1 {
    color: white;
    margin-left: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.muscle-gain .equal {
    padding: 50% 8% 3% 0;
    background-size: cover;
    margin-bottom: 2rem;
}

.muscle-gain .one {
    background-image: url(../img/gym/tyre-flipping-2141109_1920.jpg);
}

.muscle-gain .two {
    background-image: url(../img/gym/blur-1972569_1920.jpg);
}

.muscle-gain .three {
    background-image: url(../img/gym/trx-3293471_1920.jpg);
}

.muscle-gain .short {
    padding: 98% 8% 3% 0;
    background-size: cover;
}

.muscle-gain .four {
    background-image: url(../img/gym/sport-1244925_1920.jpg);
}

.muscle-gain .five {
    background-image: url(../img/gym/kettlebell-2052765_1920.jpg);
}

.muscle-gain .long {
    padding: 50% 8% 3% 0;
    background-size: cover;
}

.muscle-gain .six {
    background-image: url(../img/gym/weights-79587_1920.jpg);
}


/*pricing*/

.pricing {
    color: #fff;
    margin-bottom: 2.5rem;
}

.pricing h1 {
    font-size: 4.5rem;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.price {
    padding: 3%;
}

.rs {
    border: 1px solid gray;
}

.price h2 {
    margin-left: 1.2rem;
    font-size: 2rem;
}

.price span {
    color: blue;
    margin-left: 1rem;
    margin-right: 1.2rem;
    margin-top: 2rem;
}

.price .dollar {
    margin: 0;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.price button {
    width: 90%;
    height: 50px;
    background: none;
    color: white;
    border: 2px solid white;
    margin-left: 1rem;
    margin-top: 1.7rem;
    margin-bottom: 1.8rem;
}


/*about*/

.about {
    color: #fff;
    padding: 5% 0;
}

.about img {
    width: 100%;
}

.about .about-me {
    margin-top: 5rem;
}

.about-me h1 {
    font-weight: bold;
}

.about-me p {
    line-height: 1.8rem;
}

.about-me .courses {
    width: 130px;
    height: 35px;
    border: 2px solid gray;
    background: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
}


/*blog*/

.blog {
    padding: 4% 0;
    color: white;
}

.blog img {
    width: 100%;
}

.blog h1 {
    font-size: 4.5rem;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 4rem;
}

.blogger h6 {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/*last-part*/

.last-part {
    background-color: #494242;
}

.last-part img {
    width: 100%;
}

.last-part .bottom {
    margin-top: 5rem;
}

.last-part span {
    color: #fff;
    border: 2px solid blue;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding-top: 0.7rem;
    padding-left: 0.8rem;
    background-color: blue;
    margin-top: 1.5rem;
}

.last-part h5 {
    font-size: 1.3rem;
    color: white;
}

.last-part p {
    font-weight: 100;
    color: gray;
    font-size: 1rem;
}


/*footer*/

.footer {
    color: #fff;
    margin-top: 4rem;
}

.footer h1 {
    margin-bottom: 2.5rem;
}

.footer li {
    display: inline-flex;
    margin-left: 4rem;
    list-style: none;
}

.footer li a {
    text-decoration: none;
    color: #fff;
}

.footer span {
    margin: 2rem 0;
    color: blue;
    border: 2px solid blue;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding-top: 0.3rem;
    margin-left: 1.5rem;
}

.footer .htt {
    border: none;
    margin: 0;
}


/*media*/

@media (max-width:600px) {
    #my-navigation ul li {
        position: relative;
        left: 0rem;
        display: inline-flex;
    }
    /*banner*/
    .banner {
        margin-left: 1rem;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
    /*training part*/
    .training h1 {
        font-size: 1.6rem;
    }
    .training p {
        font-size: 1rem;
    }
    /*offer*/
    .offer {
        margin-top: 3rem;
    }
    .offer .h1 {
        font-size: 3rem;
    }
    .body-build {
        margin-bottom: 1.6rem;
        margin-left: 3rem;
    }
    .body-build h1 {
        margin-bottom: 1rem;
    }
    /*muscle-gain*/
    .muscle-gain {
        margin-top: 2rem;
    }
    .muscle-gain .equal {
        padding: 40% 5% 3% 0;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }
    .muscle-gain .short {
        padding: 68% 8% 3% 0;
        margin-left: 5rem;
        margin-bottom: 2rem;
    }
    .muscle-gain .long {
        padding: 50% 8% 3% 0;
        margin-left: 5rem;
    }
    /*pricing*/
    .pricing {
        margin-top: 2rem;
    }
    .pricing h1 {
        font-size: 3rem;
    }
    .price {
        margin-left: 3rem;
    }
    /*about*/
    .about {
        margin-left: 3rem;
    }
    .about .about-me {
        margin-top: 1rem;
        margin-left: 1rem;
        text-align: center;
    }
    /*blog*/
    .blog {
        margin-top: 2rem;
    }
    .blog h1 {
        font-size: 3rem;
    }
    .blogger {
        margin-left: 3rem;
        margin-bottom: 1.5rem;
    }
    /*last-part*/
    .last-part {
        margin-top: 2rem;
    }
    .last-part .bottom {
        text-align: center;
    }
    .last-part .self {
        margin-bottom: 1.5rem;
    }
    .last-part span {
        padding-right: 0.7rem;
    }
    /*footer*/
    .footer ul {
        margin-left: -2rem;
    }
    .footer li {
        margin-left: 0.8rem;
    }
}